/***** GLOBAL *****/

body {
    font-family: 'Roboto', sans-serif;   
}

h1, h2, h3 {
    font-family: 'Sigmar One', cursive;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.width-100:nth-of-type(2n-1) {
    background-color: rgb(238, 238, 238);
}

.kerbal {
    width: 100px;
}

.splash {
    position: relative;
    background: url(../assets/images/nightlaunch_lander_lg.jpg) no-repeat center;
    height: 884px;
}

.splash__rocket {
    position: relative;
    background: url(../assets/images/daylaunch_spacex_lg.jpg) no-repeat center;
    height: 768px;
}

/***** STOLEN INFLUENCES *****/

.loader {
    margin: 0 auto;
    border: 16px solid rgb(241, 139, 165);
    border-top: 16px solid rgb(5, 9, 66);
    border-radius: 100%;
    width: 260px;
    height: 260px;
    animation: spin 2s linear infinite;
    transform: translateX(-50%);
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

.padded--room {
    padding: 3rem;
}
  
/***** NAVIGATION *****/

.nav {
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    height: 85px;
    max-width: 960px;
    margin: 0 auto;
}

.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
}

.nav--solid {
    background-color: #000;
    transition: background 750ms;
}

.nav--transparent {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background 750ms;
}

.nav__link {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

.link--active {
    background-color: #fff;
    text-decoration: underline;
    color: #000;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, .2);
}

.link--active:hover {
    background-color: #fff;
}

.nav--toggle {
    margin: 0;
    padding: 0;
}

.nav--toggle li {
    min-width: 25%;
}

#nav--burger {
    display: none;
}

.logo {
    font-family: 'Sigmar One', cursive;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    height: 85px;
}

.logo i {
    font-size: 3rem;
    padding: 1rem;
}

/***** PAGE: LAUNCHES *****/

.launches {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.launch--container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.launch--container p {
    max-width: 320px;
}

.launch--container h2 {
    font-size: 2rem;
}

.rocket--info a:hover {
    font-weight: bold;
}

.radio--group input[type="radio"] {
    display: none;
}

.radio--group label {
    display: inline-block;
    min-width: 40px;
    padding: 1rem;
    text-align: center;
    border-radius: 15%;
    background-color: #c72828;
    color: white;
    box-shadow: 4px 4px 6px black;
    margin-right: 1rem;
}

.radio--group label:hover {
    cursor: pointer;
    background-color: #ff0000;
    text-decoration: underline;
    transition: background .2s ease;
}

.radio--group .label__highlight {
    background-color: #c72828;
    box-shadow: 4px 4px 6px darkgrey;
}

.nodisplay {
    display: none;
}

/***** PAGE: ROCKET-DETAILS *****/

.rocket {
    margin: 85px auto 0 auto;
}

.rocket--image {
    padding-top: 1rem;
    max-width: 450px;
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 1024px) {
    /***** NAVIGATION *****/

    .nav {
        justify-content: flex-start;
    }
    .nav--toggle {
        display: flex;
        justify-content: space-around;
        position: static;
        width: 100%;
    }

    .nav--button {
        display: none;
    }

    .nav__link {
        height: 85px;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    /***** NAVIGATION *****/

    .nav--toggle {
        display: none;
        position: fixed;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
        top: 85px;
        left: 0;
        right: 0;
        text-align: center;
        min-height: calc(100vh - 85px);
    }

    .nav--show {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .nav--toggle li {
        min-width: 100%;
    }

    .nav--button {
        position: absolute;
        right: 0;
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
    }

    .nav__link {
        padding: 4rem 0;
    }

    .splash {
        background: url(../assets/images/nightlaunch_lander_sm.jpg) no-repeat;
        background-position: 38% 50%;
        height: 768px;
    }

    .splash__rocket {
        background: url(../assets/images/daylaunch_spacex_sm.jpg) no-repeat;
        height: 768px;
        background-position: 5% 50%;
    }  

    .rocket--image {
        max-width: 300px;
    }
}

@media screen and (min-width: 768px) {
    /***** PAGE: LAUNCHES *****/

    .rocket--info {
        padding-left: 7rem;
    }
}

@media screen and (max-width: 767px) {
    /***** PAGE: LAUNCHES *****/

    .flex__col {
        flex-flow: column;   
    }

    .narrow {
        max-width: 320px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 374px) {
    .nav__link {
        padding: 3rem 0;
    }

    .logo, .logo i {
        font-size: 1.8rem;
    }
}
   