/***** GLOBAL *****/

body {
    font-family: 'Roboto', sans-serif;  
}

main {
    min-height: 120vh; 
}

h1, h2, h3 {
    font-family: 'Sigmar One', cursive;
}

h1 {
    padding: 1rem 0;
    margin: 0;
}

li {
    list-style: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.block {
    display: block;
}

.inlineblock {
    display: inline-block;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex__col {
    flex-flow: column;  
    align-items: center; 
}

.flex__center {
    justify-content: center
}

.align__center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-flow: column;
}

.width-100 {
    width: 100%;
    padding-bottom: 1rem;
    background-color: #fff;
}

.launches .width-100:nth-of-type(odd) {
    background-color: rgba(0, 97, 189, 0.2);
}

.paragraph {
    max-width: 350px;
    margin: 1rem;
}

.mt-85 {
    margin-top: 85px;
}

.mb-3 {
    margin-bottom: 3rem;
}

.centered {
    text-align: center;
}

.auto {
    margin: 0 auto;
}

.button {
    padding: 1rem;
    max-width: 140px;
    text-align: center;
    margin: 1rem auto;
    border: 2px solid #02203d;
    border-radius: 6%;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #2c93f3;
    color: #fff;
    cursor: pointer;
}

.button:hover {   
    transition: background-color .3s ease-in;
    background-color: #02203d;
}

.loadmore {  
    margin: 1rem 3rem 0 3em;
}

.true {
    color: green;
}

.false {
    color: red;
}

.page {
    margin: 2rem auto;
}

.youtube {
    height: 45px;
}

.kerbal {
    width: 100px;
    margin-right: 2rem;
}

.splash {
    background: url(../assets/images/nightlaunch_lander_lg.jpg) no-repeat center;
    height: 884px;
}

#blurb {
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

#blurb a {
    min-width: 280px;
    color: white;
    text-decoration: none;
    background-color: rgba(2, 32, 61, 0.6);
    border: 4px solid white;
    padding: 1rem;
    display: block;
    margin: 1rem;
}

#blurb a:hover {
    background-color: #02203d;
    transition: background-color 0.2s ease-in;
}

#countdown {
    text-align: center;
    min-width: 300px;
    font-size: 6rem;
    font-weight: bold;
    left: 0;
    right: 0;
    top: 53%;
    margin-left: auto; 
    margin-right: auto;
    background: rgb(2,32,61);
    background: -moz-linear-gradient(90deg, rgba(2,32,61,0) 0%, rgba(2,32,61,0) 20%, rgba(2,32,61, .65) 50%, rgba(2,32,61,0) 80%, rgba(2,32,61,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,32,61,0) 0%, rgba(2,32,61,0) 20%, rgba(2,32,61, .65) 50%, rgba(2,32,61,0) 80%, rgba(2,32,61,0) 100%);
    background: linear-gradient(90deg, rgba(2,32,61,0) 0%, rgba(2,32,61,0) 20%, rgba(2,32,61, .65) 50%, rgba(2,32,61,0) 80%, rgba(2,32,61,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#02203d",endColorstr="#02203d",GradientType=1); 
}

#countdown p {
    margin: 0;
}

#upcoming, #upcoming__date, #previous, #previous__date {
    font-weight: normal;
    font-size: 1.4rem;
}

.loader--background {
    margin: 5rem auto;
    height: 260px;
    width: 260px;
    background: url(../assets/images/earth.png);
    background-position: center;
}

.loader {
    border-radius: 100%;
    width: 230px;
    height: 240px;
    animation: spin 2.5s linear infinite;
    transform: translateX(-50%);
    margin: 0 auto;
}

.loader--text {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    top: -4rem;
    margin-left: auto; 
    margin-right: auto;
    max-width: 320px;
}

.loader i {
    font-size: 2.2rem;
    color: #000;
}

#dots {
    min-width: 100%;
    display: block;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
/***** NAVIGATION *****/

.nav {
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    height: 85px;
    max-width: 960px;
    margin: 0 auto;
}

.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
}

.nav--solid {
    background-color: rgba(2, 32, 61);
    transition: background 750ms;
}

.nav--transparent {
    background-color: rgba(2, 32, 61, 0.6);
    transition: background 750ms;
}

.nav--solid__dark {
    background-color: #02203d;
}

.nav__link {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

.link--active {
    background-color: #fff;
    text-decoration: underline;
    color: #000;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, .2);
}

.link--active:hover {
    background-color: #fff;
}

.link--anchor {
    top: -85px;
}

.nav--toggle {
    margin: 0;
    padding: 0;
}

.nav--toggle li {
    min-width: 25%;
}

#nav--burger {
    display: none;
}

.logo {
    font-family: 'Sigmar One', cursive;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    height: 85px;
}

.logo i {
    font-size: 3rem;
    padding: 1rem;
}

/***** FOOTER *****/

footer {
    min-width: 100%;
    min-height: 200px;
    background-color: #02203d;
}

.copy {
    font-size: 1.3rem;
    color: white;
}

/***** PAGE: LAUNCHES *****/


.splash__rocket {
    position: relative;
    background: url(../assets/images/daylaunch_spacex_lg.jpg) no-repeat center;
    height: 768px;
}

#launch--blurb {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    max-width: 400px;    
}

#launch--header {
    font-size: 2rem;
    color: rgb(255, 255, 255); 
    -webkit-text-stroke: 1px #000;
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;   
}

.launches {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
}

.launch--container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.launch--name {
    text-align: center;
    text-decoration: underline;
}

.launch--container p {
    max-width: 310px;
   
}

.launch--info a:hover {
    font-weight: bold;
}

.launch--time {
    display: inline-block   ;
    min-width: 100px;
}

.radio--group input[type="radio"] {
    display: none;
}

.radio--group label {
    display: inline-block;
    min-width: 40px;
    padding: 1rem;
    text-align: center;
    border-radius: 15%;
    background-color: #02203d;
    color: white;
    box-shadow: 4px 4px 6px black;
    margin-right: 2.5rem;
}

.radio--group label:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: background .2s ease;
}

.radio--group .label__highlight {
    box-shadow: 0 0 6px #02203d;
    text-decoration: underline;
}

.nodisplay {
    display: none;
}

/***** PAGE: ROCKET-DETAILS *****/

.rocket {
    width: 100%;
}

.rocket--image {
    max-width: 960px;
    display: block;
    margin: 1rem auto;
    border-radius: 3%;
}

.rocket--info {
    margin-left: .5rem;
}

.rocket--image__small {
    max-width: 416px;
    border-radius: 6%;
}

.rocket--name {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.rocket--display {
    display: flex;
    margin: .2rem;   
}

.rocket--group {
    height: 250px;
    width: 400px;
    border-radius: 5%;
}

.rocket--blurb {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    padding: .3rem;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    position: absolute;
    bottom: 17%;
    left: 5%;
    text-align: center;   
}

.shadow {
    color: #fff;
    text-shadow: 3px 3px 3px #02203d;
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 1024px) {
    /***** NAVIGATION *****/

    .nav {
        justify-content: flex-start;
    }
    .nav--toggle {
        display: flex;
        justify-content: space-around;
        position: static;
        width: 100%;
    }

    .nav--button {
        display: none;
    }

    .nav__link {
        height: 85px;
        align-items: center;
    }

    .rocket--info {
        margin-left: 3rem;
    }
}

@media screen and (max-width: 1023px) {

    .nav--toggle {
        display: none;
        position: fixed;
        padding: 0;
        background-color: rgba(2, 32, 61, 0.95);
        top: 85px;
        left: 0;
        right: 0;
        text-align: center;
        min-height: calc(100vh - 85px);
    }

    .nav--show {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .nav--toggle li {
        min-width: 100%;
    }

    .nav--button {
        position: absolute;
        right: 0;
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
    }

    .nav__link {
        padding: 4rem 0;
    }

    .splash {
        background: url(../assets/images/nightlaunch_lander_sm.jpg) no-repeat;
        background-position: 38% 50%;
        height: 768px;
    }

    .splash__rocket {
        background: url(../assets/images/daylaunch_spacex_sm.jpg) no-repeat;
        height: 768px;
        background-position: 5% 50%;
    }
    
    .rocket--image {
        max-width: 736px;
        margin: 1rem auto;
    }

    .rocket--image__small {
        max-width: 400px;
    }

    .rocket--group {
        max-width: 350px;
        height: 227px;
    }
}

@media screen and (min-width: 768px) {
    .launch--info {
        margin-left: 2rem;
    }

    #blurb {
        flex-direction: row-reverse ;
    }
}

@media screen and (max-width: 767px) {
    /***** PAGE: LAUNCHES *****/

    .launch--details {
        margin: 0 1rem;
    }

    .narrow {
        max-width: 320px;
        margin: 0 auto;
    } 

    .rocket--image {
        max-width: 310px;
    }
    
    .rocket--image__small {
        max-width: 320px;
    }

    .flex--col__md {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .launch--patch {
        margin: 1rem auto;
    }

    .loadmore {
        margin: 1rem .5rem 0 .5rem;
    }

    #countdown {
        top: 30%;
        background-color: rgba(13, 27, 41, 0.3);
    }

    #countdown p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 374px) {
    .nav__link {
        padding: 3rem 0;
    }

    .logo, .logo i {
        font-size: 1.8rem;
    }

    .launch--container {
        padding: 0 .3rem;
    }

    #rocket--image__array {
        margin: 0 auto;
    }

    #blurb {
        bottom: 0;
    }
}
   