/***** GLOBAL *****/

body {
    min-height: 2000px;
}

/***** NAVIGATION *****/

.nav {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 85px;
    max-width: 960px;
    margin: 0 auto;
}

.nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

.link--active {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav--toggle {
    margin: 0;
    padding: 0;
}

.nav--toggle li {
    min-width: 25%;
}

#nav--burger {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    height: 85px;
}

.logo i {
    font-size: 3rem;
    padding: 1rem;
}


/***** BODY *****/
.splash {
    position: relative;
    background: url(../assets/images/nightlaunch_lander.jpg) no-repeat center;
    height: 884px;
}


/***** MEDIA QUERIES *****/

@media screen and (min-width: 1025px) {

    .nav {
        justify-content: flex-start;
    }
    .nav--toggle {
        display: flex;
        justify-content: space-around;
        position: static;
        width: 100%;
        list-style: none;
    }

    .nav--button {
        display: none;
    }

    .nav__link {
        height: 85px;
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .nav--toggle {
        display: none;
        list-style: none;
        position: fixed;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.2);
        top: 85px;
        left: 0;
        right: 0;
        text-align: center;
        min-height: calc(100vh - 85px);
    }

    .nav--show {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .nav--toggle li {
        min-width: 100%;
    }

    .nav--button {
        position: absolute;
        right: 0;
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
    }

    .nav__link {
        padding: 4rem 0;
    }
}

@media screen and (max-width: 374px) {
    .nav__link {
        padding: 3rem;
    }
}
